{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/bais_style.css' %}"/>

<main class="form-signin col-4 d-flex justify-content-center">
    <form method="POST">{% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
        <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send reset email</button>
    </form>
</main>


{% endblock %}