{% include 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'account/styles/account_style.css' %}"/>


  <main class="form-signin col-4 d-flex justify-content-center">
  <form method="post">
      {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Account</h1>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus value={{ account_form.initial.email }}>
    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required value={{ account_form.initial.username }}>
      {% for field in account_form %}
          {% for error in  field.errors %}
              <p style="color: red;">{{ error }}</p>
          {% endfor %}
      {% endfor %}
      {% if account_form.non_field_errors %}
          <div style="color: red;">
              <p>{{ account_form.non_field_errors }}</p>
          </div>
      {% endif %}
      {% if success_message %}

          <p style="color: green; text-align: center;">{{ success_message }}</p>
      {% endif %}
    <button class="w-100 btn btn-lg btn-primary" type="submit">Save Changes</button>
  </form>
</main>

<div class="d-flex flex-column">
      <a class="m-auto" href="{% url 'password_change' %}"> Change Password</a>
</div>

<div class="container mt-4 p-4">
    <div class="row">
        <div class="blog-posts">
            <h3 class="h3 mb-3 font-weight-normal">Blog Posts:</h3>
                {%  if blog_posts %}
                    <ul>
                        {% for blog in blog_posts %}
                            <a href="{% url 'blogpost:detail' blog.slug %}" style="text-decoration: none;">
                                <li class="list-group-item">
                                    {{ blog }}
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>You don't have any blog posts yet. Create a post <a href="{% url 'blogpost:create' %}">here</a>.</p>
                {% endif %}
        </div>
    </div>
</div>

{% endblock %}